.container {
  padding: 10px;
}

.welcome {
  font-size: 27px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 10px;
}

.goal {
  margin: 10px 0;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ebe9e9;
}

.icon {
  font-size: 25px;
  font-weight: 400;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.iconLogo {
  width: 25px;
  margin-right: 15px;
  border-radius: 5px;
}
