@import '~open-color/open-color.scss';

.habitContainer {

  min-height: 70px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ebe9e9;
  padding: 20px;

}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.text {
  color: $oc-gray-6;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.label {
  // color: $oc-gray-6;

  // font-weight: 500;
}

.description {
  font-size: 17px;

}

.actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0;

  align-items: center;
}

.content {
}

.progressBar {
  margin-top: 10px;
}
